{% extends "layout.html" %}
{% block title %}Edit User{% endblock %}

{% block content %}
<h2 class="mb-4">Edit User</h2>

<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" required autocomplete="off" value="{{ user.username }}">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" class="form-control" autocomplete="off" value="{{ user.email }}">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required autocomplete="new-password">
    </div>
    <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select name="role" class="form-select" required>
            <option value="admin">Admin</option>
            <option value="petugas">Petugas</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
    <a href="{{ url_for('main.get_all_user') }}" class="btn btn-secondary">Batal</a>
</form>
{% endblock %}
